body {
    color: white;
    font-size: 20px;
}

.visible-only-1k {
    display: none;
}

@media (min-width: 1000px) {
    .visible-only-1k {
      display: block;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    border-width: 1px 0;
}

.Footer-module_grid__qz-6E {
    box-sizing: content-box;
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: 500;
    font-family: Lato, "Lato Fallback", sans-serif, sans-serif;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 28px;
    max-width: 1700px;
    padding: 0, 48px, 48px, 0;
    
}


